:root{
    --deep-navy: #0b1222;
    --emerald: #2e8b57;
    --mint: #10b981;
    --gold: #efa331;
    --coral: #ff8c69;
    --offwhite: #f9fbfc;
    --white: #ffffff;
    --deep-navy-rgb: 11, 18, 34;
}

*{
    margin: 0;
    padding: 0;

}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(var(--deep-navy-rgb), 0.7), rgba(var(--deep-navy-rgb), 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
width: 90px;
opacity: 0.5;
}

.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: var(--offwhite);
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: var(--mint);
    display: block;
    margin: auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.text-box{
    width: 90%;
    color: var(--offwhite);
    position: absolute;
    text-align: center;
    top: 35%;
   left: 5%;
    transform: translate (-50%, -50%);
}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px auto 40px;
    font-size: 17px;
    max-width: 600px;
    text-align: center;
    
}

.contact-button{
    display: inline-block;
    text-decoration: none;
    color: var(--offwhite);
    border: 1px solid var(--offwhite);
    padding:12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
}

.contact-button:hover{
    border: 1px solid var(--mint);
    background: var(--mint);
    transition: 1s;
}
